# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alejhern <alejhern@student.42barcelon      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/07 13:06:40 by alejhern          #+#    #+#              #
#    Updated: 2025/07/07 13:06:43 by alejhern         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

node_modules
*.txt
